// Adjust this to match the site's style and give < IE7 something pretty to look at
.chromeframe {
    position: absolute;
    z-index: 100;
    top: 0;
    margin-top: 1em;
    text-align: center;
    width: 100%;
}