@media all and (max-width: 800px) {
    .frame-featured {
      display: none;
    }
    .frame-container {
      transform: translate(0, 0) !important;
    }

    .nav-site-title {
        position: relative;
        display: inline-block;
        left: 50%;
        transform: translate(-50%, 0);
        text-align: center;
        margin: 20px 0;
        .wax-logo {
            margin: 0 !important;
        }
    }

    .fixed-nav {
        position: relative;
        .secondary {
            position: relative;
            margin-top: 20px;
        }
        .tertiary {
            display: none !important;
            opacity: 0 !important;
        }
    }

    .frame-container {
        top: auto !important;
    }

    .frame {
        .content {
            margin-top: 40px;
            padding: 0 10px;
        }
    }

    .external-layout-wrapper {
        margin-top: 0;
    }

    .content-wrapper {
        padding: 0;
        margin-top: 20px;
    }

    .overlay-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .about-wrapper {
        .masonry-item {
            width: 50%;
        }
    }

    .issue {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .features-item {
        width: 100%;
        padding: 0 10px;
    }

    .product-container {
        .product {
            width: 100%;
            display: block;
        }
    }

    .product-viewer {
        .product-viewer-content {
            padding: 20px;
        }
        .slide-outer-container,
        .product-viewer-content-wrapper {
            display: block;
            width: 100%;
            padding: 0;
            .price-cart {
                position: static;
            }
        }
    }

    .page-footer,
    .overlay-footer {
        .copyright {
            position: relative;
            display: block;
            margin-bottom: 10px;
        }
    }
}

@media print,
    (-o-min-device-pixel-ratio: 5/4),
    (-webkit-min-device-pixel-ratio: 1.25),
    (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
