.cart-wrapper {

}

.cart-title {
    text-align: center;
    margin-bottom: $medium !important;
}

.cart-table {
    width: 100%;
}

.cart-header {
    @extend %ibfix;
    border-bottom: 1px solid #000;
    padding-bottom: $xsmall;
    h3 {
        @extend %ib;
        margin: 0;
        display: inline-block;
        width: 14.28571428571429%;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
    }
}

.cart-body {
    ul {
        @extend %ibfix;
        margin: 0;
        padding: 0;
    }
}

.cart-item {
    margin: $small 0;
    & > div {
        @extend %ib;
        display: inline-block;
        width: 14.28571428571429%;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
    }
}

.cart-image {
    img {
        max-width: 66.66%;
    }
}

.cart-footer {
    @extend %ibfix;
    border-top: 1px solid #000;
    padding-top: $xsmall;
    h3 {
        @extend %ib;
        display: inline-block;
        width: 14.28571428571429%;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
    }
}


.cart-qty {
    input {
        text-align: center;
        border: 0;
        max-width: 60px;
        &:focus {
            outline: 1px solid #000;
            padding: 10px 0;
        }
    }
}

.cart-remove {
    color: red;
}

.cart-empty {
    font-size: $font_small;
    margin: 100px 0;
    text-align: center;
    list-style: none;
}

.cart-permalink.empty {
    cursor: default !important;
    outline: none;
    &:hover {
        outline: none !important;
        cursor: default !important;
    }
}
