//
// Main Content and sub content areas
//

.features-item {
    width: $content_width;
    max-width: $content_max_width;
    margin: 0 auto $large;
    transition: transform 0s !important; // override isotope transition time
    h2 {
        margin-bottom: $xsmall;
    }
    h3 {
        margin-bottom: 1.4em;
    }
    img {
        max-height: 600px;
        width: auto;
    }
}

.frame-two .content {
    margin-left: auto;
    margin-right: auto;
}

.frame-two .grid-view {
    width: 85%;
    h2 {
        font-size: $font_medium;
    }
    h3 {
        font-size: $font_small;
    }
    .features-item {
        width: 350px;
        margin: 0 0 $medium;
    }
}

.finds-wrapper {
    text-align: center;
    img {
        &:hover {
            outline: none;
        }
    }
    .image {
        display: inline-block;
        margin: 10px;
    }
}

.text-module {
    h3 {
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: $font_small;
    }
}
