.frame-featured {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: #FFFF00;
    transition: margin .4s;
    &.featured-fix {
        position: fixed;
        cursor: pointer;
        margin-top: -10px;
        &.show-more {
            margin-top: 10px;
        }
    }
    &.fixed {
        margin-top: 0;
        &:hover {
            margin-top: 10px;
        }
    }
    &.overlay-active {
        position: fixed;
    }
    &.disable-mouse {
        .show-overlay {
            pointer-events: none;
        }
    }
    .show-overlay a {
        @extend %button-outline;
        font-size: $font_medium;
        color: black;
    }
    .featured-project {
        position: absolute;
        width: 100%;
        height: 100%;
        iframe {
            // display: none;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }
    .featured-project-overlay {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: #FFFF00;
    }
    ul,
    li {
      list-style: none;
    }
}

.featured-project-wax-logo {
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 100%;
    z-index: 1;
    cursor: pointer;
    .wax-logo {
        position: relative;
        display: inline-block;
        &.wax-logo-2,
        &.wax-logo-3 {
            margin-left: 6px;
        }
        &.wax-logo-1 {
            @include set_background('logo-w.png', '34px 28px', '0 0');
            width: 34px;
            height: 28px;
        }
        &.wax-logo-2 {
            @include set_background('logo-a.png', '34px 28px', '0 0');
            width: 34px;
            height: 28px;
        }
        &.wax-logo-3 {
            @include set_background('logo-x.png', '34px 28px', '0 0');
            width: 34px;
            height: 28px;
        }
    }
}

.featured-project-arrow {
    opacity: 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -7.5px;
    bottom: 10px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 26px 15px 0 15px;
    border-color: #000 transparent transparent transparent;
    transition: opacity .6s;
    cursor: pointer;
    &.active {
        opacity: 1;
    }
}

.featured-projects-wrapper {
    @extend %ibfix;
    max-width: $content_max_width;
    margin: 0 auto;
    li {
        @extend %ib;
        display: inline-block;
        width: 33.33%;
        padding: $xsmall;
        margin-bottom: $medium;
        vertical-align: top;
    }
    h2 {
        text-align: center;
    }
    .project-toggle {
        &:hover {
            border-bottom: none;
        }
    }
}

.featured-info-wrapper {
    .about-this-space {
        margin-bottom: $medium;
    }
}

.current-featured-project {
    h2 {
        margin: 0;
        text-align: center;
    }
}

.featured-project-description {
    margin: $small 0;
}