//
// Features
//

.features-wrapper {
  h2,
  h3 {
    text-align: center;
  }
  h3 {
    margin-top: 0;
  }
}

.image-module {
  text-align: center;
}

.text-module {
  a {
    border-bottom: 1px solid;
  }
}

.video-module {
  iframe {
    width: 100%;
  }
}

.image-wrapper,
.text-wrapper,
.video-wrapper {
  margin-bottom: $medium;
}

.two-column-module {
  @extend %clearfix;
  .column {
    width: 50%;
    float: left;
  }
  .column1 {
    padding-right: $xsmall;
  }
  .column2 {
    padding-left: $xsmall;
  }
  h2 {
    font-size: $font_small;
    text-transform: uppercase;
    margin: 2em 0;
  }
  a {
    border-bottom: 1px solid;
  }
}

.feature-mailing-list {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background: transparent;
  display: block;
  position: static;
  form {
    text-align: center;
  }
  input {
    width: calc(100% - 135px);
    padding: 6px 8px;
    display: inline-block;
    border: 1px solid #000;
    margin-right: 10px;
  }
  .email-button {
    color: #000;
    border-color: #000;
    &:hover {
      color: #fff;
      background: #000;
    }
  }
}
