//
// Issues (Frame one)
//

.issue {
    width: $content_width;
    max-width: $content_max_width;
    margin: 20px auto $large;
    position: relative;
    .add-to-cart,
    .unavailable {
        position: absolute;
        right: 0;
    }
}
.issue-slides {
    width: 400px;
    margin: 0 auto;
    .slidesjs-pagination {
        position: absolute;
        right: 0;
        bottom: -2em;
        margin: 0;
    }
}