//
// Issues (Frame one)
//

.issue {
    width: $content_width;
    max-width: 860px;
    margin: 20px auto $large;
    position: relative;
    .accordion-content {
        h2 {
            margin-bottom: $xsmall;
        }
    }
}
.issue-slides {
    margin: 0 auto;
    .slidesjs-pagination {
        position: absolute;
        right: 0;
        bottom: -2em;
        margin: 0;
    }
}
.issue-head {
    @extend %ibfix;
    position: relative;
    & > div {
        @extend %ib;
        display: inline-block;
        width: 33%;
        vertical-align: bottom;
        &:first-child {
            text-align: left;
        }
        &:last-child {
            text-align: right;
        }
        .add-to-cart {
            @extend %button-outline-padding-small-no-hover;
        }
    }
    .issue-title {
        font-size: $font_medium;
        span {
            text-transform: uppercase;
        }
    }
    h2,
    h3 {
        font-size: $font_medium;
    }
}
