//
// Layout, size and positioning
//

html {
    width: 100%;
}

@keyframes slideDown {
  from { margin-top: -$nav_offset; }
  to { margin-top: 0; }
}
@keyframes slideUp {
  from { margin-top: 0; }
  to { margin-top: -$nav-offset; }
}

.frame-container {
    position: absolute;
    width: 100%;
    &.overlay-active {
        position: fixed;
    }
}
.frame {
    position: absolute;
    width: 100%;
    text-align: center;
    &.fixed {
        // @extend %visually_hidden;
        position: fixed;
    }
    .content {
        margin-top: 200px;
    }
}
.frame-one {
    left: -100%;
}
.frame-two {
    left: 0;
}
.frame-three {
    left: 100%;
}
.force-redraw {
    @extend %visually_hidden;
}
#templates {
    display: none;
}