.nav-site-title,
.fixed-nav {
    position: fixed;
    top: 20px;
    transition: top .4s;
    &.show-more {
        top: 30px;
        .external-layout & {
            top: 20px;
        }
    }
}
.nav-site-title {
    left: 20px;
    z-index: 19;
}
.fixed-nav {
    width: 100%;
    text-align: center;
    z-index: 18;
    letter-spacing: .5px;
    .primary a {
        padding-bottom: 2px;
    }
    .secondary {
        right: 20px;
        position: absolute;
        top: 0;
        a {
            padding: 2px 10px;
            &:hover {
                border: none;
                outline: 1px solid;
            }
        }
    }
    .tertiary {
        margin-top: 2em;
        .active {
            border-bottom: 1px solid;
        }
        h3 {
            margin: 0 10px;
        }
    }
    h2,
    h3 {
        display: inline-block;
    }
    h2 {
        text-transform: uppercase;
        .active {
            border-bottom: 1px solid;
        }
    }
    a {
        text-decoration: none;
        color: #000;
    }
}

// Show arrows depending on which direction the nav is pointing to

.nav-issues,
.nav-home,
.nav-store {
    a {
        position: relative;
        margin: 0 20px;
        &:hover {
            .right & {
                padding-left: 15px;
                margin-left: 5px;
            }
            .left & {
                padding-right: 15px;
                margin-right: 5px;
            }
        }
        &.active {
            margin: 0 20px !important;
            padding-left: 0 !important;
            padding-right: 0 !important;
            &:hover {
                &:after {
                    content: none;
                }
            }
        }
    }
}

.nav-store {
    a:hover {
        .center & {
            padding-right: 15px;
            margin-right: 5px;
        }
    }
}
.nav-issues {
    a:hover {
        .center & {
            padding-left: 15px;
            margin-left: 5px;
        }
    }
}

.primary {
    a:hover:after {
        content: " ";
        height: 0;
        margin-top: -5px;
        position: absolute;
        top: 100%;
        width: 0;
    }
    .nav-issues a:hover:after {
        @extend %arrow-left;
    }
    .nav-store a:hover:after {
        @extend %arrow-right;
    }
    &.right {
        .nav-home a:hover:after {
            @extend %arrow-left;
        }
    }
    &.left {
        .nav-home a:hover:after {
            @extend %arrow-right;
        }
    }
}

.add-on {
    position: relative;
}

// WAX logo
.nav-site-title {
    position: fixed;
    white-space: nowrap;
    font-size: 24px;
    a {
        display: block;
        text-decoration: none;
        color: #000;
        &:hover {
            border: none;
        }
    }
    .wax-logo {
        position: relative;
        display: inline-block;
        transition: margin-top .2s;
        &.wax-logo-2,
        &.wax-logo-3 {
            margin-left: 4px;
        }
        &.wax-logo-1 {
            @include set_background('logo-w.png', '34px 28px', '0 0');
            width: 34px;
            height: 28px;
        }
        &.wax-logo-2 {
            @include set_background('logo-a.png', '34px 28px', '0 0');
            width: 34px;
            height: 28px;
            margin-top: 1.8em;
        }
        &.wax-logo-3 {
            @include set_background('logo-x.png', '34px 28px', '0 0');
            width: 34px;
            height: 28px;
            margin-top: 3.6em;
        }
        &.transition {
            transition: margin .2s;
        }
    }
    &.compact {
        .wax-logo {
            margin-top: 0;
        }
    }
}

.overlay-nav-site-title {
    .wax-logo {
        margin-top: 0 !important;
    }
}

// Mailing list form
.mailing-list-button {
    display: inline-block;
    vertical-align: middle;
    &:hover {
        border: 0 !important;
        outline: 0 !important;
    }
    img {
        width: 28px;
        vertical-align: baseline;
        margin: -5px -10px;
        padding: 8px 10px 7px;
        box-sizing: content-box;
        &:hover {
            margin: -5px -10px;
            padding: 8px 10px 7px;
        }
    }
}

.mailing-list-form {
    display: none;
    position: absolute;
    background: #000;
    color: #FFF;
    width: 300px;
    right: 0;
    top: 40px;
    padding: 0 15px;
    text-align: left;
    box-shadow: 2px 2px 5px #00;
    .email-button {
        border: 1px solid #FFF;
        display: inline-block;
        padding: 6px 30px;
        cursor: pointer;
        &:hover {
            background: #fff;
            color: #000;
        }
    }
    input {
        width: 100%;
        padding: 6px 8px;
    }
    form {
        text-align: left;
        margin-top: 20px;
    }
}

//
// External layout
//

.external-layout {
    .primary {
        h2 {
            .active {
                border: none;
            }
        }
    }
    .tertiary {
        display: none !important;
    }
}
