//
// Overlays
//

.frame-featured {
  .overlay {
    position: fixed;
  }
  .show-overlay {
    position: absolute;
    z-index: 11;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}

.overlay {
  @extend %hardware_accel;
  position: absolute;
  top: 0;
  opacity: 1;
  background-color: #fff;
  transition: visibility $fade_speed, opacity $fade_speed;
  width: 100%;
  min-height: 100%;
  z-index: 20;
  text-align: center;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}

.overlay-container {
  display: none;
  position: fixed;
  top: 100%;
  left: 0;
  overflow: auto;
  width: 100%;
  min-height: 100%;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0px -6px 15px 0px rgba(50, 50, 50, 0.30);
  &.active {
    display: block;
  }
}

.external-layout-wrapper {
  @extend .overlay-container;
  box-shadow: none;
  max-width: $content_max_width;
  padding: $xsmall 4%;
  position: static;
  top: 0;
  display: block;
  margin-top: 130px;
  margin-left: auto;
  margin-right: auto;
  .overlay-content {
    margin-top: 0;
  }
}

.overlay-close {
  @include set_background('close.png', '20px 20px', '0 0');
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 21;
  cursor: pointer;
}
.content-wrapper {
  padding-left: 15%;
  padding-right: 15%;
  h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $small;
    margin-top: $medium;
    &:first-child {
      margin-top: 0;
    }
  }
}
.overlay-content {
  padding: $xsmall 4%;
  margin-top: 130px;
  position: absolute;
  width: 100%;
  max-width: $content_max_width;
  min-height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: $large;
}