//
// Overlays
//

.frame-featured {
  .overlay {
    position: fixed;
  }
  .show-overlay {
    position: absolute;
    z-index: 11;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }
}

.overlay {
  @extend %hardware_accel;
  position: absolute;
  top: 0;
  opacity: 1;
  background-color: #fff;
  transition: visibility $fade_speed, opacity $fade_speed;
  width: 100%;
  min-height: 100%;
  z-index: 20;
  text-align: center;
  &.hidden {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
}

.overlay-container {
  display: none;
  position: fixed;
  top: 100%;
  left: 0;
  overflow: auto;
  padding: $xsmall 4%;
  width: 100%;
  min-height: 100%;
  z-index: 20;
  background-color: #fff;
  &.active {
    display: block;
  }
}

.external-layout-wrapper {
  @extend .overlay-container;
  position: static;
  top: 0;
  display: block;
  margin-top: 130px;
}

.overlay-close {
  @include set_background('close.png', '20px 20px', '0 0');
  width: 22px;
  height: 22px;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 21;
  cursor: pointer;
}
.content-wrapper {
  padding-left: 15%;
  padding-right: 15%;
  h3 {
    text-transform: uppercase;
    text-align: center;
    margin-bottom: $small;
    margin-top: $medium;
  }
}
.overlay-content {
  position: absolute;
  width: 100%;
  max-width: $content_max_width;
  min-height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  margin-bottom: $large;
}