//
// Slides.js
//

.slideshow {
    text-align: right;
    display: none;
}

.slide-outer-container {
    margin-bottom: 4em;
    position: relative;
}

.project-slides {
    .slidesjs-pagination {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
    }
}
.slidesjs-pagination {
    text-align: right;
    margin-top: 0.5em;
    position: relative;
    z-index: 11;
}
.slidesjs-pagination-item {
    position: relative;
    display: inline-block;
    a {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #000;
        margin: 0 5px;
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        &.active:before {
            border: 2px solid #000;
            content: '';
            width: 18px;
            height: 18px;
            position: absolute;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
        }
    }
}
.slidesjs-navigation {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-indent: 100%;
    white-space: nowrap;
    &:hover {
        border: none;
    }
}

.slidesjs-control > img {
    top: 50% !important;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    width: auto !important;
    height: auto !important;
    max-height: 100%;
}