.product-container {
    @extend %ibfix;
    max-width: $content_max_width;
    min-height: 400px;
    margin: 0 auto;
    .product {
        @extend %ib;
        display: inline-block;
        width: 33.33%;
        padding: 10px;
        margin-bottom: $medium;
        text-align: center;
        h3 {
            margin-top: $xsmall;
        }
        .add-to-cart-container {
            margin-top: $small;
        }
    }
    .image-container {
        margin-top: $small;
        display: block;
        &:hover {
            outline: 1px solid #000;
            margin: 22px -10px -10px !important;
            border: 10px solid #FFF;
        }
        img {
            max-height: 300px;
            &:hover {
                @extend %image_outline_override;
            }
        }
    }
    ul, li {
        display: inline-block;
    }
    & > ul {
        width: 200px;
        margin: 0 80px 50px;
        vertical-align: top;
    }
}
.product-grid {
    text-align: left;
}
.product-viewer {
    @extend %ib;
    position: relative;
    min-height: 400px;
    background-color: #000;
    color: #fff;
    margin-bottom: 0 $large $medium;
    a {
        color: #fff;
    }
    .overlay-close {
        @include set_background('close-white.png', '20px 20px', '0 0');
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .slide-outer-container {
        @extend %ib;
        width: 50%;
        display: inline-block;
        margin-bottom: 0;
        padding-right: $xsmall;
    }
    .add-to-cart {
        &:hover {
            background: #fff;
            color: #000;
            border-color: #fff;
        }
    }
}
.product-viewer-content {
    padding: $medium;
}
.product-viewer-content-wrapper {
    @extend %ib;
    padding-left: $xsmall;
    width: 50%;
    display: inline-block;
    text-align: left;
}
.buy-button-frame,
.cart-updater,
.add-to-cart-button {
    @extend %visually_hidden;
}
.product-viewer-inner-content {
    @extend %ibfix;
    position: relative;
    h3 {
        font-size: $font_small;
    }
    .heading {
        min-height: 1.5em;
        .learn-more {
            left: 0;
        }
    }
    .price-cart {
        position: absolute;
        bottom: 33px;
    }
    .slidesjs-pagination-item a {
        background: #fff;
    }
    .slidesjs-pagination-item a.active:before {
        border-color: #fff;
    }
}
.product-description {
    text-align: left;
}
