//
// UI Elements
//

.center {
    text-align: center;
}
.upper {
    text-transform: uppercase;
}

.button {
    display: inline-block;
    &.style-1 {
        border: 3px solid;
        padding: 8px;
        &:hover {
            background: #000;
            border-color: #000;
            color: #fff;
            .dark & {
                background: #fff;
                border-color: #fff;
                color: #000;
            }
        }
    }
}

.blur {
    @extend %hardware_accel;
    position: fixed !important;
    filter: blur($blur) opacity(.8);
    transition: filter $fade_speed / 2, opacity $fade_speed / 2;
    -webkit-transition: -webkit-filter $fade_speed / 2, opacity $fade_speed / 2;
}

.lazy {
    background: #c2c2c2 url('../../../images/grey.gif') repeat center center;
}

.drop-shadow {
    drop-shadow: -5px 5px 10px $gray_light;
}

.accordion-container {
    @extend %translate_fix;
    height: 0;
    opacity: 0;
    overflow: hidden;
    text-align: left;
    h2 { font-size: $font_medium; }
    h3 { font-size: $font_small; }
    .title {
        margin: $medium 0;
    }
    ul {
        @extend %clearfix;
        text-align: center;
        list-style: none;
    }
    li {
        float: left;
        width: 33.33%;
        padding: 0 20px;
    }
}
.accordion-content {
    margin: 1em 0;
}

.accordion-head {
    position: absolute;
    bottom: 0;
    &:hover {
        @extend %arrow-down;
        bottom: -1px;
        padding-right: 15px;
        margin-right: -15px;
    }
    &.active {
        &:hover {
            @extend %arrow-up;
            bottom: -1px;
        }
    }
}

.isotope-hidden {
    display: none;
}

.loading {
    @include set_background('loading.gif', '100px 18px', '0 0');
    width: 100px;
    height: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}

.caption {
  margin-top: $xsmall;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}