//
// Extends
//

%visually_hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%hardware_accel {
    // Force hardware accelaration with translate3d
    transform: translate3d(0, 0, 0);
}

%translate_fix {
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
}

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%image_outline {
    outline: 1px solid #000;
    padding: 10px;
    margin: -10px;
    box-sizing: content-box;
}