//
// Extends
//

%visually_hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

%hardware_accel {
    // Force hardware accelaration with translate3d
    transform: translate3d(0, 0, 0);
}

%translate_fix {
    backface-visibility: hidden;
    transform: translateZ(0) scale(1.0, 1.0);
}

%clearfix {
    *zoom: 1;
    &:before,
    &:after {
        content: " ";
        display: table;
    }
    &:after {
        clear: both;
    }
}

%image_outline {
    outline: 1px solid #000;
    padding: 10px;
    margin: -10px;
    box-sizing: content-box;
}

%image_outline_override {
    outline: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

%ibfix {
    font-size: 0;
}

%ib {
    font-size: 16px;
}

%arrow-left {
    left: 0;
    margin-left: -5px;
    border-bottom: 5px inset rgba(0, 0, 0, 0);
    border-right: 7px solid #000;
    border-top: 5px inset rgba(0, 0, 0, 0);
}

%arrow-right {
    right: 0;
    margin-right: -5px;
    border-bottom: 5px inset rgba(0, 0, 0, 0);
    border-left: 7px solid #000;
    border-top: 5px inset rgba(0, 0, 0, 0);
}

%arrow-down {
    &:before {
        content: " ";
        position: absolute;
        right: 0;
        top: 100%;
        width: 1px;
        height: 10px;
        background-color: #000;
    }
    &:after {
        right: -1px;
        margin-right: -4px;
        border-right: 6px inset rgba(0, 0, 0, 0);
        border-left: 6px inset rgba(0, 0, 0, 0);
        border-top: 8px solid #000;
        content: " ";
        height: 0;
        margin-top: 10px;
        position: absolute;
        top: 100%;
        width: 0;
    }
}

%arrow-up {
    &:before {
        content: " ";
        position: absolute;
        right: 0;
        top: 100%;
        width: 1px;
        height: 11px;
        margin-top: -10px;
        background-color: #000;
    }
    &:after {
        right: -1px;
        margin-right: -4px;
        border-right: 6px inset rgba(0, 0, 0, 0);
        border-left: 6px inset rgba(0, 0, 0, 0);
        border-bottom: 8px solid #000;
        border-top: 0;
        content: " ";
        height: 0;
        margin-top: -18px;
        position: absolute;
        top: 100%;
        width: 0;
    }
}

%button-outline {
    padding: 2px 10px;
    &:hover {
        border: 0;
        outline: 1px solid;
    }
}

%button-outline-no-hover {
    padding: 2px 10px;
    border: 0;
    outline: 1px solid;
}