//
// Variables
//

// Colors
$accent: #528DFF;
$gray_light: #E9E9E9;

// Sizes
$xsmall: 16px;
$small: 32px;
$medium: 64px;
$large: 112px;

$font_xsmall: 13px;
$font_small: 16px;
$font_medium: 21px;
$font_large: 54px;

$content_width: 60%;
$content_max_width: 1200px;
$sidebar: 50px;
$nav_offset: 20px;

$image_max_height: 600px;

// Speeds
$fade_speed: .4s;

// Misc
$blur: 20px;
