//
// Variables
//

// Colors
$accent: #528DFF;
$gray_light: #E9E9E9;

// Sizes
$xsmall: 16px;
$small: 32px;
$medium: 64px;
$large: 112px;

$font_small: 1em;
$font_medium: 1.6em;
$font_large: 3.4em;

$content_width: 60%;
$content_max_width: 1200px;
$sidebar: 50px;
$nav_offset: 20px;

// Speeds
$fade_speed: .4s;

// Misc
$blur: 20px;